asgiref==3.3.4
beautifulsoup4==4.8.2
certifi==2022.12.7
chardet==3.0.4
Django==3.0.14
django-debug-toolbar==3.2.1
djangorestframework==3.12.2
gunicorn==20.0.4
idna==2.10
pytz==2021.1
requests==2.23.0
sentry-sdk==0.14.4
soupsieve==2.2.1
sqlparse==0.4.1
urllib3==1.25.11
whitenoise==5.1.0
