{% extends 'base.html' %}

{% load static %}

{% block content %}

{% with ch=challenge %}
<div class='challenge-title'><a href="{{ch.provider.url}}" target="_blank"><img alt="{{ch.provider.name}}" title="{{ch.provider.name}}" src="{{ch.provider.logo_url}}" width=40 height=40/></a><h2>{{title}}</h2></div>
<div class="row row-challenge-header">
    <div class='col-sm-4'>
        {% if ch.external_url %}<a href='{{ch.external_url}}' target="_blank" rel="noopener noreferrer">Challenge link <i class="fas fa-external-link-alt"></i></a>{% endif %}
    </div>
    <div class='col-sm-4'>
        Start: {% if ch.start_date %} {{ch.start_date}} {% else %} Unknown {% endif %}
    </div>
    <div class='col-sm-4'>
        End: {% if ch.end_date %} {{ch.end_date}} {% else %} Unknown {% endif %}
    </div>
</div>
<div class="row challenge-body">
    <div class="col-sm accordion" id="accordionExample">
        {% if not ch.teams %}
            <div class="card team-card">
                <div class="card-header team-card-header" id="heading0">
                    <div class="mb-0">
                        <button class="team-header-cell btn btn-link btn-show-team" type="button">
                            <a href="/admin">
                                No teams yet. Create them on the admin site >
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
        {% for team in ch.teams %}
            <div class="card team-card">
                <div class="card-header team-card-header" id="heading{{team.id}}">
                <div class="mb-0">
                    <button class="team-header-cell btn btn-link btn-show-team" type="button" data-toggle="collapse" data-target="#collapse{{team.id}}" aria-expanded="true" aria-controls="collapse{{team.id}}">
                    {{team.name}}
                    </button>
                </div><div class="team-header-cell team-card-score">{{team.score}} {{ch.score_units}}</div>
                </div>
            
                <div id="collapse{{team.id}}" class="collapse" aria-labelledby="heading{{team.id}}" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                    {% for competitor in team.members %}
                            <tr>
                                <td class='competitor-name'>
                                    <a href='{{competitor.external_url}}' target="_blank" rel="noopener noreferrer">
                                    {% if competitor.name %}
                                        {{competitor.name}}
                                    {% else %}
                                        ?
                                    {% endif %}
                                    </a>
                                </td>
                                <td>{{competitor.score}} {{ch.score_units}}</td>
                            </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% if ch.parse_date %}<div class='challenge-footer'>Updated: {{ch.parse_date}}</div>{% endif %}
{% endwith %}
{% endblock %}
