{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2>{{title}}</h2>

{% if challenges %}
<div class='row challenges_header challenges_row'>
    <div class='col-sm-6'>Title</div>
    <div class='col-sm-6'>Start Date</div>
</div>
{% for ch in challenges %}
{% if ch.title %}
<div class='row challenges_row'>
    <div class='col-sm-6 challenge-list-item'><img alt="{{ch.provider.name}}" title="{{ch.provider.name}}" src="{{ch.provider.logo_url}}" width=20 height=20 /> <a href='/challenge/{{ch.id}}/'>{{ch.title}}</a></div>
    <div class='col-sm-6'>
        {% if ch.start_date %}
            {{ch.start_date}}
        {% else %}
            Unknown
        {% endif %}
    </div>
</div>
{% endif %}
{% endfor %}
{% else %}
<p>None available at the moment.</p>
{% endif %}

{% endblock %}
