html {
    height:100%;
}

body {
    height:100%;
    font-family: Roboto,sans-serif;
    font-size: 1.5rem;
    color: #666;
    font-size: 14px;
}

.container {
    max-width: 576px;
    padding-bottom: 120px;
}

.nav-item {
    font-size: 16px;
}

h1 {
    margin-top: 75px;
    text-align: center;
    color: #ff2743;
}

h2 {
    font-size: 1.75rem;
    color: black;
    margin-bottom: 0;
    margin-left: 15px;
}

.challenge-title {
    display: flex;
    margin-top: 40px;
    margin-bottom: 25px;
    align-items: center;
}

.challenges_header {
    font-weight: bold;
    font-size: 16px;
    background-color: #f8f9fa!important;
}


.challenges_row {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}


.team-card-header {
    padding-top: 0px;
    padding-bottom: 0px;
}

.btn-show-team {
    text-align: left;
    float: left;
    font-size: 16px;
}

.btn-show-team:focus {
    text-decoration: none;
    font-style: normal;
}


.btn-show-team:hover {
    text-decoration: none;
    font-style: normal;
}

.team-card-calories {
    width: 50%;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 16px;
}

.row-challenge-header {
    padding-bottom: 10px;
    padding-left: 10px;
}

.team-card .card-body {
    padding-top: 10px;
    padding-bottom: 5px;
}

.team-card td {
    padding-top: 6px;
    padding-bottom: 6px;
    width: 50%;
}

.team-card .competitor-name a {
    color: #212529;
}

.team-header-cell {
    min-width: 50%;
    display: inline-block;
}

.challenge-body {
    margin-bottom: 10px;
}

.challenge-list-item {
    display: flex;
    align-items: center;
}

.challenge-list-item a {
    margin-left: 8px;
}