{% extends 'base.html' %}

{% block content %}

<h2>{{title}}</h2>
{% with ch=challenge %}
<div class="row row-challenge-header">
    <div class='col-sm-4'>
        <a href='https://www.endomondo.com/challenges/{{ch.endomondo_id}}'>Endomondo link</a>
    </div>
    <div class='col-sm-4'>
        Start: {% if ch.start_date %} {{ch.start_date|date:"M d, Y"}} {% else %} Unknown {% endif %}
    </div>
    <div class='col-sm-4'>
        End: {% if ch.end_date %} {{ch.end_date|date:"M d, Y"}} {% else %} Unknown {% endif %}
    </div>
</div>
<div class="row challenge-body">
    <div class="col-sm accordion" id="accordionExample">
        {% for team in ch.teams %}
            <div class="card team-card">
                <div class="card-header team-card-header" id="heading{{team.id}}">
                <div class="mb-0">
                    <button class="team-header-cell btn btn-link btn-show-team" type="button" data-toggle="collapse" data-target="#collapse{{team.id}}" aria-expanded="true" aria-controls="collapse{{team.id}}">
                    {{team.name}}
                    </button>
                </div><div class="team-header-cell team-card-calories">{{team.calories}} kcal</div>
                </div>
            
                <div id="collapse{{team.id}}" class="collapse" aria-labelledby="heading{{team.id}}" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                    {% for competitor in team.members %}
                            <tr>
                                <td class='competitor-name'>
                                    <a href='https://www.endomondo.com/profile/{{competitor.endomondo_id}}'>
                                    {% if competitor.name %}
                                        {{competitor.name}}
                                    {% else %}
                                        ?
                                    {% endif %}
                                    </a>
                                </td>
                                <td>{{competitor.calories}} kcal</td>
                            </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% if ch.parse_date %}<div class='challenge-footer'>Updated: {{ch.parse_date|date:"M d, Y"}}</div>{% endif %}
{% endwith %}
{% endblock %}
