{% extends 'base.html' %}

{% block content %}

<h2>{{title}}</h2>

{% if challenges %}
<div class='row challenges_header challenges_row'>
    <div class='col-sm-4'>Title</div>
    <div class='col-sm-4'>Start Date</div>
</div>
{% for ch in challenges %}
<div class='row challenges_row'>
    <div class='col-sm-4'><a href='/challenge/{{ch.id}}/'>{{ch.title}}</a></div>
    <div class='col-sm-4'>
        {% if ch.start_date %}
            {{ch.start_date|date:"M d, Y"}}
        {% else %}
            Unknown
        {% endif %}
    </div>
</div>
{% endfor %}
{% else %}
<p>None available at the moment.</p>
{% endif %}

{% endblock %}
